.selectBox{
    position: relative;
  }
  
  .selectBox select{
    width: 100%;
    font-weight: bold;
  }
  
  /* .overSelect {
    position: absolute;
  } */
  
  .checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  .checkboxes label{
    display: block;
  }
  
  .checkboxes label:hover {
    text-decoration: underline #1e90ff;
  }
  
  select[disabled] {
    color: black;
    text-decoration: none;
  }