/* Dimensional styling for pagination buttons */
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: inline-flex;
  gap: 1em;
  width: 100%;
}

/* Styling for the pagination buttons */
.pagination button {
  background: none;
  background-color: none;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  outline: none;
}

/* Styling for page number */
.pagination p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

/* Styling for pagination button when it is disabled */
.pagination button[disabled] {
  color: #5f5f5f5b;
}

.pagination button[disabled] {
  color: #5f5f5f5b;
}
