/* Basic styling setup for entire button */
.create-agency-btn {
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
}

/* Plus sign in circle icon */
.icon-circle-plus {
  margin-right: 3px;
}

.icon-circle-plus > * {
  stroke: #54682f;
  stroke-width: 3px;
  fill-opacity: 0;
}

/* Styling for button text */
.create-agency-btn > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  padding-top: 2px;
}
