.form-button-container {
  margin-left: 300px;
}

.form-button-primary {
  width: 376px;
  height: 67px;
  margin-right: 32px;
  background: #54682f;
  border: none;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  display: inline;
}

.form-button-primary:hover {
  background: #38451f;
}

.form-button-secondary {
  width: 376px;
  height: 67px;
  margin-left: 32px;
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  display: inline;
}

.form-button-secondary:hover {
  background: #cccccc;
}

.form-button-small {
  width: 250px;
}
