/* * * * Layout * * * */

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.task-form {
  position: relative;
  width: 727px;
  height: 414px;
  margin: 10% auto;
  padding: 38px 0px 0px 55px;
  background-color: #f5f7f7;
  border: 3px solid #cdcbd4;
}

.task-form-col {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
}

/* * * * Task Form Butttons  * * * */

.button-container {
  margin-top: 40px;
  margin-left: -55px;
  text-align: center;
}

/* * * * Cancel button * * * */

.task-form-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}

.task-form-cancel > .icon-x {
  stroke: #bbbbbb;
}

.task-form-cancel:hover > .icon-x {
  stroke: #666666;
}

/* * * * Overrides * * * */

.task-form .form-input-box-wide {
  width: 607px;
}
