.NavbarItems {
    background: #54682F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 55px;
    position: absolute;
    top:156px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 70%;
    font-weight: 600;
}

.top-nav {
    padding-top: 20%;
}

#logo{
    position: absolute;
    width: 205px;
    height: 88px;
    left: calc(50% - 205px/2 - 4px);
    top: 26px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 70%;
    list-style: none;
    text-align: none;
    width: 10%;
    justify-content: flex-end;
    margin-right: 20%;
    padding: 1% 0% 1% 0%;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: rgba(255, 255, 255, 0.459);
}
