.form-body {
  margin: 62px 318px 64px 130px;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
}

.form-section {
  margin-top: 74px;
}

.form-section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  display: inline-block;
}

.form-section-title-underline {
  background: #54682F;
  height: 4px;
  border-radius: 1px;
  margin-top: 3px;
  margin-bottom: 8px;
}

.form-input {
  margin-top: 23px;
  padding-left: 7px;
}

.form-col-gutter {
  margin-left: 142px;
}

.form-input-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: -7px;
  margin-bottom: 8px;
}

.form-checkbox-list-header {
  font-family: Roboto;
  font-style: italic;
  font-weight: medium;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.form-input-list-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.form-input-list-subheader {
  font-style: italic;
  font-weight: 300;
  display: inline;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.asterisk {
  margin-left: 0px;
  display: inline;
  color: #FC0808;
}

.form-input-box {
  width: 289px;
  height: 43px;
  display: block;
  background: #FFFFFF;
  border: 2px solid #CDCBD4;
  box-sizing: border-box;
  border-radius: 7px;
}

.form-input-box-wide {
  width: 698px;
}

.btn-create-profile-button {
  background: #54682F;

  position: absolute;
  width: 376px;
  height: 67px;
  left: calc(50% - 376px/2 - 216.5px);
  top: 4030px;


  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.01em;

  border-color: #54682F;
  border-radius: 10px;
}
