.form-body {
  margin: 62px 0px 64px 130px;
}

.form-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #000000;
}

.form-section {
  margin-top: 74px;
}

.form-section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  display: inline-block;
}

.form-section-title-underline {
  background: #54682f;
  height: 4px;
  border-radius: 1px;
  margin-top: 3px;
  margin-bottom: 8px;
}

.form-input {
  margin-top: 23px;
  padding-left: 7px;
}

.form-col-gutter {
  margin-left: 142px;
}

.form-input-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: -7px;
  margin-bottom: 8px;
}

.form-checkbox-list-header {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-left: -7px;
  margin-bottom: 0px;
}

.checkbox-list-column {
  width: 647px;
}

.form-input-list-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.form-input-list-subheader {
  font-style: italic;
  font-weight: 300;
  display: inline;
}

.selection-choice {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.asterisk {
  margin-left: 0px;
  display: inline;
  color: #fc0808;
}

.form-input-box {
  width: 289px;
  height: 43px;
  display: block;
  background: #ffffff;
  border: 2px solid #cdcbd4;
  box-sizing: border-box;
  border-radius: 7px;
  padding: 12px;
}

.form-input-box-wide {
  width: 698px;
}

select.custom-select {
  width: 289px;
  height: 43px;
  display: block;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3e%3cpath fill='%23545252' d='M0 0H12L6 10Z'/%3e%3c/svg%3e");
  background-position: right 10px center;
  background-size: auto;
  border: 2px solid #cdcbd4;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/* * * * Custom checkboxes * * * */

.custom-checkbox {
  position: relative;
  margin-top: 9px;
  margin-bottom: 0px;
  display: table;
}

.custom-checkbox input[type="checkbox"] {
  /* hide the actual checkbox visually */
  position: absolute;
  opacity: 0;
  width: 23px;
  height: 23px;
  top: 1px;
  left: 0px;
}

.custom-checkbox svg {
  margin-right: 11px;
  border-radius: 2px;
}

.custom-checkbox input[type="checkbox"]:focus + svg {
  outline: 2px solid #54682f80;
}

.custom-checkbox input[type="checkbox"]:checked + svg .custom-checkbox-bg {
  fill: #54682f;
}

.custom-checkbox
  input[type="checkbox"]:checked
  + svg
  .custom-checkbox-checkmark {
  stroke: #ffffff;
}

/* * Incrementer Box * */

.incrementer-box-container {
  padding: 0px;
  margin: 0px;
  border-radius: 10px ;
  border: 1px solid #000000;
}

.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
  }

.incrementer-box-input {
  margin-top: 8px;
  width: 45px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-size: 15px;
  border: transparent;
  outline: none;
}

.triangle-up {
  margin-top: 5px;
  margin-right: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid rgb(0, 0, 0);
  cursor: pointer;
}

.triangle-down {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid rgb(0, 0, 0);
  cursor: pointer;
}

/*
div.custom-control {
  margin-top: 9px;
  padding-left: 34px;
}

input.custom-control-input[type=checkbox] {
  width: 23px;
  height: 23px;
}

div.custom-checkbox .custom-control-label::before {
  width: 23px;
  height: 23px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 11px;
  left: -34px;
  top: 0px;
}
*/
.btn-create-profile-button {
  background: #54682f;

  position: absolute;
  width: 376px;
  height: 67px;
  left: calc(50% - 376px / 2 - 216.5px);
  top: 4030px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.01em;

  border-color: #54682f;
  border-radius: 10px;
}
