/* * * * Layout * * * */
body {
  overflow-x: hidden;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.notes-container {
  position: relative;
  width: 638px;
  height: 450px;
  margin: 10% auto;
  padding: 2% 4% 2% 4%;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 5px rgba(17, 17, 17, 0.322);
}

.notes-info {
  border-bottom: 1px solid rgb(128, 128, 128);
}

.notes-info h2 {
  font-size: 20px;
}

.notes-info p {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.notes-options {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.color-select,
.remove-select {
  border: 2px solid #cdcbd4;
  border-radius: 7px;
}

.color-select {
  width: 100%;
}

.remove-select {
  margin-right: 1em;
}

.notes-options h2 {
  font-size: 18px;
}

.notes-message {
  margin-top: 1em;
  width: 100%;
  height: 200px;
}

.notes-message h2 {
  font-size: 16px;
  margin: 0;
}

.notes-message textarea {
  resize: none;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  border: 1px solid rgb(145, 145, 145);
}

.form-buttons {
  display: flex;
}
